{% extends "common_code/base.html" %}

{% block title %} Categories {% endblock title %}


{% block content %}
<h1>Choose your favorite book from this category:</h1>


<p class=" bestsellers_book">
    <ul style = "list-style-type: disc">
        <li> ঘরে বসে Spoken English </li>
        <li> সবার জন্য Vocabulary </li>
        <li> প্যারাডক্সিক্যাল সাজিদ </li>
        <li> বেলা ফুরাবার আগে </li>
        <li> প্যারাডক্সিক্যাল সাজিদ ২ </li>
        <li> জীবন যেখানে যেমন</li>
    </ul>
</p>

{% endblock content %}
